/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-name: 'arrow';
$arrow-x: 1167px;
$arrow-y: 194px;
$arrow-offset-x: -1167px;
$arrow-offset-y: -194px;
$arrow-width: 7px;
$arrow-height: 12px;
$arrow-total-width: 1174px;
$arrow-total-height: 1095px;
$arrow-image: '../images/sprite.png?v=1509641140';
$arrow: (1167px, 194px, -1167px, -194px, 7px, 12px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'arrow', );
$bg3-name: 'bg3';
$bg3-x: 0px;
$bg3-y: 0px;
$bg3-offset-x: 0px;
$bg3-offset-y: 0px;
$bg3-width: 400px;
$bg3-height: 578px;
$bg3-total-width: 1174px;
$bg3-total-height: 1095px;
$bg3-image: '../images/sprite.png?v=1509641140';
$bg3: (0px, 0px, 0px, 0px, 400px, 578px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'bg3', );
$bg6-name: 'bg6';
$bg6-x: 400px;
$bg6-y: 0px;
$bg6-offset-x: -400px;
$bg6-offset-y: 0px;
$bg6-width: 729px;
$bg6-height: 252px;
$bg6-total-width: 1174px;
$bg6-total-height: 1095px;
$bg6-image: '../images/sprite.png?v=1509641140';
$bg6: (400px, 0px, -400px, 0px, 729px, 252px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'bg6', );
$car1-name: 'car1';
$car1-x: 0px;
$car1-y: 578px;
$car1-offset-x: 0px;
$car1-offset-y: -578px;
$car1-width: 469px;
$car1-height: 272px;
$car1-total-width: 1174px;
$car1-total-height: 1095px;
$car1-image: '../images/sprite.png?v=1509641140';
$car1: (0px, 578px, 0px, -578px, 469px, 272px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'car1', );
$car2-name: 'car2';
$car2-x: 400px;
$car2-y: 252px;
$car2-offset-x: -400px;
$car2-offset-y: -252px;
$car2-width: 476px;
$car2-height: 281px;
$car2-total-width: 1174px;
$car2-total-height: 1095px;
$car2-image: '../images/sprite.png?v=1509641140';
$car2: (400px, 252px, -400px, -252px, 476px, 281px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'car2', );
$dots-name: 'dots';
$dots-x: 876px;
$dots-y: 517px;
$dots-offset-x: -876px;
$dots-offset-y: -517px;
$dots-width: 144px;
$dots-height: 6px;
$dots-total-width: 1174px;
$dots-total-height: 1095px;
$dots-image: '../images/sprite.png?v=1509641140';
$dots: (876px, 517px, -876px, -517px, 144px, 6px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'dots', );
$favicon-name: 'favicon';
$favicon-x: 1145px;
$favicon-y: 574px;
$favicon-offset-x: -1145px;
$favicon-offset-y: -574px;
$favicon-width: 16px;
$favicon-height: 16px;
$favicon-total-width: 1174px;
$favicon-total-height: 1095px;
$favicon-image: '../images/sprite.png?v=1509641140';
$favicon: (1145px, 574px, -1145px, -574px, 16px, 16px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'favicon', );
$fb-lg-name: 'fb-lg';
$fb-lg-x: 1158px;
$fb-lg-y: 92px;
$fb-lg-offset-x: -1158px;
$fb-lg-offset-y: -92px;
$fb-lg-width: 16px;
$fb-lg-height: 30px;
$fb-lg-total-width: 1174px;
$fb-lg-total-height: 1095px;
$fb-lg-image: '../images/sprite.png?v=1509641140';
$fb-lg: (1158px, 92px, -1158px, -92px, 16px, 30px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'fb-lg', );
$fb-lg2-name: 'fb-lg2';
$fb-lg2-x: 1129px;
$fb-lg2-y: 524px;
$fb-lg2-offset-x: -1129px;
$fb-lg2-offset-y: -524px;
$fb-lg2-width: 16px;
$fb-lg2-height: 30px;
$fb-lg2-total-width: 1174px;
$fb-lg2-total-height: 1095px;
$fb-lg2-image: '../images/sprite.png?v=1509641140';
$fb-lg2: (1129px, 524px, -1129px, -524px, 16px, 30px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'fb-lg2', );
$fb-sm-g-name: 'fb-sm-g';
$fb-sm-g-x: 1163px;
$fb-sm-g-y: 163px;
$fb-sm-g-offset-x: -1163px;
$fb-sm-g-offset-y: -163px;
$fb-sm-g-width: 9px;
$fb-sm-g-height: 16px;
$fb-sm-g-total-width: 1174px;
$fb-sm-g-total-height: 1095px;
$fb-sm-g-image: '../images/sprite.png?v=1509641140';
$fb-sm-g: (1163px, 163px, -1163px, -163px, 9px, 16px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'fb-sm-g', );
$fb-sm-p-name: 'fb-sm-p';
$fb-sm-p-x: 1159px;
$fb-sm-p-y: 458px;
$fb-sm-p-offset-x: -1159px;
$fb-sm-p-offset-y: -458px;
$fb-sm-p-width: 9px;
$fb-sm-p-height: 16px;
$fb-sm-p-total-width: 1174px;
$fb-sm-p-total-height: 1095px;
$fb-sm-p-image: '../images/sprite.png?v=1509641140';
$fb-sm-p: (1159px, 458px, -1159px, -458px, 9px, 16px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'fb-sm-p', );
$ic1-name: 'ic1';
$ic1-x: 1129px;
$ic1-y: 574px;
$ic1-offset-x: -1129px;
$ic1-offset-y: -574px;
$ic1-width: 16px;
$ic1-height: 16px;
$ic1-total-width: 1174px;
$ic1-total-height: 1095px;
$ic1-image: '../images/sprite.png?v=1509641140';
$ic1: (1129px, 574px, -1129px, -574px, 16px, 16px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic1', );
$ic10-name: 'ic10';
$ic10-x: 1021px;
$ic10-y: 756px;
$ic10-offset-x: -1021px;
$ic10-offset-y: -756px;
$ic10-width: 62px;
$ic10-height: 28px;
$ic10-total-width: 1174px;
$ic10-total-height: 1095px;
$ic10-image: '../images/sprite.png?v=1509641140';
$ic10: (1021px, 756px, -1021px, -756px, 62px, 28px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic10', );
$ic11-name: 'ic11';
$ic11-x: 603px;
$ic11-y: 850px;
$ic11-offset-x: -603px;
$ic11-offset-y: -850px;
$ic11-width: 54px;
$ic11-height: 59px;
$ic11-total-width: 1174px;
$ic11-total-height: 1095px;
$ic11-image: '../images/sprite.png?v=1509641140';
$ic11: (603px, 850px, -603px, -850px, 54px, 59px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic11', );
$ic12-name: 'ic12';
$ic12-x: 1129px;
$ic12-y: 92px;
$ic12-offset-x: -1129px;
$ic12-offset-y: -92px;
$ic12-width: 29px;
$ic12-height: 57px;
$ic12-total-width: 1174px;
$ic12-total-height: 1095px;
$ic12-image: '../images/sprite.png?v=1509641140';
$ic12: (1129px, 92px, -1129px, -92px, 29px, 57px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic12', );
$ic13-name: 'ic13';
$ic13-x: 190px;
$ic13-y: 1002px;
$ic13-offset-x: -190px;
$ic13-offset-y: -1002px;
$ic13-width: 47px;
$ic13-height: 47px;
$ic13-total-width: 1174px;
$ic13-total-height: 1095px;
$ic13-image: '../images/sprite.png?v=1509641140';
$ic13: (190px, 1002px, -190px, -1002px, 47px, 47px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic13', );
$ic14-name: 'ic14';
$ic14-x: 1129px;
$ic14-y: 51px;
$ic14-offset-x: -1129px;
$ic14-offset-y: -51px;
$ic14-width: 41px;
$ic14-height: 41px;
$ic14-total-width: 1174px;
$ic14-total-height: 1095px;
$ic14-image: '../images/sprite.png?v=1509641140';
$ic14: (1129px, 51px, -1129px, -51px, 41px, 41px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic14', );
$ic15-name: 'ic15';
$ic15-x: 1041px;
$ic15-y: 788px;
$ic15-offset-x: -1041px;
$ic15-offset-y: -788px;
$ic15-width: 56px;
$ic15-height: 56px;
$ic15-total-width: 1174px;
$ic15-total-height: 1095px;
$ic15-image: '../images/sprite.png?v=1509641140';
$ic15: (1041px, 788px, -1041px, -788px, 56px, 56px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic15', );
$ic16-name: 'ic16';
$ic16-x: 713px;
$ic16-y: 850px;
$ic16-offset-x: -713px;
$ic16-offset-y: -850px;
$ic16-width: 56px;
$ic16-height: 56px;
$ic16-total-width: 1174px;
$ic16-total-height: 1095px;
$ic16-image: '../images/sprite.png?v=1509641140';
$ic16: (713px, 850px, -713px, -850px, 56px, 56px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic16', );
$ic17-name: 'ic17';
$ic17-x: 985px;
$ic17-y: 788px;
$ic17-offset-x: -985px;
$ic17-offset-y: -788px;
$ic17-width: 56px;
$ic17-height: 56px;
$ic17-total-width: 1174px;
$ic17-total-height: 1095px;
$ic17-image: '../images/sprite.png?v=1509641140';
$ic17: (985px, 788px, -985px, -788px, 56px, 56px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic17', );
$ic18-name: 'ic18';
$ic18-x: 1145px;
$ic18-y: 524px;
$ic18-offset-x: -1145px;
$ic18-offset-y: -524px;
$ic18-width: 20px;
$ic18-height: 20px;
$ic18-total-width: 1174px;
$ic18-total-height: 1095px;
$ic18-image: '../images/sprite.png?v=1509641140';
$ic18: (1145px, 524px, -1145px, -524px, 20px, 20px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic18', );
$ic19-name: 'ic19';
$ic19-x: 1129px;
$ic19-y: 554px;
$ic19-offset-x: -1129px;
$ic19-offset-y: -554px;
$ic19-width: 20px;
$ic19-height: 20px;
$ic19-total-width: 1174px;
$ic19-total-height: 1095px;
$ic19-image: '../images/sprite.png?v=1509641140';
$ic19: (1129px, 554px, -1129px, -554px, 20px, 20px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic19', );
$ic2-name: 'ic2';
$ic2-x: 1158px;
$ic2-y: 138px;
$ic2-offset-x: -1158px;
$ic2-offset-y: -138px;
$ic2-width: 14px;
$ic2-height: 8px;
$ic2-total-width: 1174px;
$ic2-total-height: 1095px;
$ic2-image: '../images/sprite.png?v=1509641140';
$ic2: (1158px, 138px, -1158px, -138px, 14px, 8px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic2', );
$ic20-name: 'ic20';
$ic20-x: 825px;
$ic20-y: 850px;
$ic20-offset-x: -825px;
$ic20-offset-y: -850px;
$ic20-width: 59px;
$ic20-height: 44px;
$ic20-total-width: 1174px;
$ic20-total-height: 1095px;
$ic20-image: '../images/sprite.png?v=1509641140';
$ic20: (825px, 850px, -825px, -850px, 59px, 44px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic20', );
$ic21-name: 'ic21';
$ic21-x: 1163px;
$ic21-y: 149px;
$ic21-offset-x: -1163px;
$ic21-offset-y: -149px;
$ic21-width: 11px;
$ic21-height: 14px;
$ic21-total-width: 1174px;
$ic21-total-height: 1095px;
$ic21-image: '../images/sprite.png?v=1509641140';
$ic21: (1163px, 149px, -1163px, -149px, 11px, 14px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic21', );
$ic22-name: 'ic22';
$ic22-x: 1159px;
$ic22-y: 442px;
$ic22-offset-x: -1159px;
$ic22-offset-y: -442px;
$ic22-width: 14px;
$ic22-height: 14px;
$ic22-total-width: 1174px;
$ic22-total-height: 1095px;
$ic22-image: '../images/sprite.png?v=1509641140';
$ic22: (1159px, 442px, -1159px, -442px, 14px, 14px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic22', );
$ic23-name: 'ic23';
$ic23-x: 1159px;
$ic23-y: 428px;
$ic23-offset-x: -1159px;
$ic23-offset-y: -428px;
$ic23-width: 15px;
$ic23-height: 14px;
$ic23-total-width: 1174px;
$ic23-total-height: 1095px;
$ic23-image: '../images/sprite.png?v=1509641140';
$ic23: (1159px, 428px, -1159px, -428px, 15px, 14px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic23', );
$ic24-name: 'ic24';
$ic24-x: 1064px;
$ic24-y: 462px;
$ic24-offset-x: -1064px;
$ic24-offset-y: -462px;
$ic24-width: 60px;
$ic24-height: 52px;
$ic24-total-width: 1174px;
$ic24-total-height: 1095px;
$ic24-image: '../images/sprite.png?v=1509641140';
$ic24: (1064px, 462px, -1064px, -462px, 60px, 52px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic24', );
$ic25-name: 'ic25';
$ic25-x: 938px;
$ic25-y: 850px;
$ic25-offset-x: -938px;
$ic25-offset-y: -850px;
$ic25-width: 57px;
$ic25-height: 36px;
$ic25-total-width: 1174px;
$ic25-total-height: 1095px;
$ic25-image: '../images/sprite.png?v=1509641140';
$ic25: (938px, 850px, -938px, -850px, 57px, 36px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic25', );
$ic26-name: 'ic26';
$ic26-x: 142px;
$ic26-y: 1002px;
$ic26-offset-x: -142px;
$ic26-offset-y: -1002px;
$ic26-width: 48px;
$ic26-height: 48px;
$ic26-total-width: 1174px;
$ic26-total-height: 1095px;
$ic26-image: '../images/sprite.png?v=1509641140';
$ic26: (142px, 1002px, -142px, -1002px, 48px, 48px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic26', );
$ic27-name: 'ic27';
$ic27-x: 1129px;
$ic27-y: 0px;
$ic27-offset-x: -1129px;
$ic27-offset-y: 0px;
$ic27-width: 45px;
$ic27-height: 51px;
$ic27-total-width: 1174px;
$ic27-total-height: 1095px;
$ic27-image: '../images/sprite.png?v=1509641140';
$ic27: (1129px, 0px, -1129px, 0px, 45px, 51px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic27', );
$ic28-name: 'ic28';
$ic28-x: 657px;
$ic28-y: 850px;
$ic28-offset-x: -657px;
$ic28-offset-y: -850px;
$ic28-width: 56px;
$ic28-height: 56px;
$ic28-total-width: 1174px;
$ic28-total-height: 1095px;
$ic28-image: '../images/sprite.png?v=1509641140';
$ic28: (657px, 850px, -657px, -850px, 56px, 56px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic28', );
$ic29-name: 'ic29';
$ic29-x: 769px;
$ic29-y: 850px;
$ic29-offset-x: -769px;
$ic29-offset-y: -850px;
$ic29-width: 56px;
$ic29-height: 52px;
$ic29-total-width: 1174px;
$ic29-total-height: 1095px;
$ic29-image: '../images/sprite.png?v=1509641140';
$ic29: (769px, 850px, -769px, -850px, 56px, 52px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic29', );
$ic3-name: 'ic3';
$ic3-x: 1158px;
$ic3-y: 122px;
$ic3-offset-x: -1158px;
$ic3-offset-y: -122px;
$ic3-width: 16px;
$ic3-height: 16px;
$ic3-total-width: 1174px;
$ic3-total-height: 1095px;
$ic3-image: '../images/sprite.png?v=1509641140';
$ic3: (1158px, 122px, -1158px, -122px, 16px, 16px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic3', );
$ic30-name: 'ic30';
$ic30-x: 884px;
$ic30-y: 850px;
$ic30-offset-x: -884px;
$ic30-offset-y: -850px;
$ic30-width: 54px;
$ic30-height: 42px;
$ic30-total-width: 1174px;
$ic30-total-height: 1095px;
$ic30-image: '../images/sprite.png?v=1509641140';
$ic30: (884px, 850px, -884px, -850px, 54px, 42px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic30', );
$ic4-name: 'ic4';
$ic4-x: 535px;
$ic4-y: 850px;
$ic4-offset-x: -535px;
$ic4-offset-y: -850px;
$ic4-width: 68px;
$ic4-height: 59px;
$ic4-total-width: 1174px;
$ic4-total-height: 1095px;
$ic4-image: '../images/sprite.png?v=1509641140';
$ic4: (535px, 850px, -535px, -850px, 68px, 59px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic4', );
$ic5-name: 'ic5';
$ic5-x: 889px;
$ic5-y: 578px;
$ic5-offset-x: -889px;
$ic5-offset-y: -578px;
$ic5-width: 207px;
$ic5-height: 178px;
$ic5-total-width: 1174px;
$ic5-total-height: 1095px;
$ic5-image: '../images/sprite.png?v=1509641140';
$ic5: (889px, 578px, -889px, -578px, 207px, 178px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic5', );
$ic6-name: 'ic6';
$ic6-x: 0px;
$ic6-y: 850px;
$ic6-offset-x: 0px;
$ic6-offset-y: -850px;
$ic6-width: 174px;
$ic6-height: 152px;
$ic6-total-width: 1174px;
$ic6-total-height: 1095px;
$ic6-image: '../images/sprite.png?v=1509641140';
$ic6: (0px, 850px, 0px, -850px, 174px, 152px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic6', );
$ic7-name: 'ic7';
$ic7-x: 995px;
$ic7-y: 850px;
$ic7-offset-x: -995px;
$ic7-offset-y: -850px;
$ic7-width: 52px;
$ic7-height: 36px;
$ic7-total-width: 1174px;
$ic7-total-height: 1095px;
$ic7-image: '../images/sprite.png?v=1509641140';
$ic7: (995px, 850px, -995px, -850px, 52px, 36px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic7', );
$ic8-name: 'ic8';
$ic8-x: 1129px;
$ic8-y: 149px;
$ic8-offset-x: -1129px;
$ic8-offset-y: -149px;
$ic8-width: 34px;
$ic8-height: 45px;
$ic8-total-width: 1174px;
$ic8-total-height: 1095px;
$ic8-image: '../images/sprite.png?v=1509641140';
$ic8: (1129px, 149px, -1129px, -149px, 34px, 45px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic8', );
$ic9-name: 'ic9';
$ic9-x: 1047px;
$ic9-y: 850px;
$ic9-offset-x: -1047px;
$ic9-offset-y: -850px;
$ic9-width: 52px;
$ic9-height: 34px;
$ic9-total-width: 1174px;
$ic9-total-height: 1095px;
$ic9-image: '../images/sprite.png?v=1509641140';
$ic9: (1047px, 850px, -1047px, -850px, 52px, 34px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ic9', );
$inst-lg-name: 'inst-lg';
$inst-lg-x: 1129px;
$inst-lg-y: 428px;
$inst-lg-offset-x: -1129px;
$inst-lg-offset-y: -428px;
$inst-lg-width: 30px;
$inst-lg-height: 30px;
$inst-lg-total-width: 1174px;
$inst-lg-total-height: 1095px;
$inst-lg-image: '../images/sprite.png?v=1509641140';
$inst-lg: (1129px, 428px, -1129px, -428px, 30px, 30px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'inst-lg', );
$inst-lg2-name: 'inst-lg2';
$inst-lg2-x: 1129px;
$inst-lg2-y: 458px;
$inst-lg2-offset-x: -1129px;
$inst-lg2-offset-y: -458px;
$inst-lg2-width: 30px;
$inst-lg2-height: 30px;
$inst-lg2-total-width: 1174px;
$inst-lg2-total-height: 1095px;
$inst-lg2-image: '../images/sprite.png?v=1509641140';
$inst-lg2: (1129px, 458px, -1129px, -458px, 30px, 30px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'inst-lg2', );
$kia-name: 'kia';
$kia-x: 400px;
$kia-y: 533px;
$kia-offset-x: -400px;
$kia-offset-y: -533px;
$kia-width: 219px;
$kia-height: 34px;
$kia-total-width: 1174px;
$kia-total-height: 1095px;
$kia-image: '../images/sprite.png?v=1509641140';
$kia: (400px, 533px, -400px, -533px, 219px, 34px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'kia', );
$logo-name: 'logo';
$logo-x: 469px;
$logo-y: 788px;
$logo-offset-x: -469px;
$logo-offset-y: -788px;
$logo-width: 258px;
$logo-height: 57px;
$logo-total-width: 1174px;
$logo-total-height: 1095px;
$logo-image: '../images/sprite.png?v=1509641140';
$logo: (469px, 788px, -469px, -788px, 258px, 57px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'logo', );
$logo2-name: 'logo2';
$logo2-x: 889px;
$logo2-y: 756px;
$logo2-offset-x: -889px;
$logo2-offset-y: -756px;
$logo2-width: 132px;
$logo2-height: 30px;
$logo2-total-width: 1174px;
$logo2-total-height: 1095px;
$logo2-image: '../images/sprite.png?v=1509641140';
$logo2: (889px, 756px, -889px, -756px, 132px, 30px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'logo2', );
$logout-name: 'logout';
$logout-x: 1149px;
$logout-y: 554px;
$logout-offset-x: -1149px;
$logout-offset-y: -554px;
$logout-width: 16px;
$logout-height: 16px;
$logout-total-width: 1174px;
$logout-total-height: 1095px;
$logout-image: '../images/sprite.png?v=1509641140';
$logout: (1149px, 554px, -1149px, -554px, 16px, 16px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'logout', );
$mail-logo-name: 'mail_logo';
$mail-logo-x: 727px;
$mail-logo-y: 788px;
$mail-logo-offset-x: -727px;
$mail-logo-offset-y: -788px;
$mail-logo-width: 258px;
$mail-logo-height: 57px;
$mail-logo-total-width: 1174px;
$mail-logo-total-height: 1095px;
$mail-logo-image: '../images/sprite.png?v=1509641140';
$mail-logo: (727px, 788px, -727px, -788px, 258px, 57px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'mail_logo', );
$main-page-info-m-2-name: 'main_page-info-m-2';
$main-page-info-m-2-x: 0px;
$main-page-info-m-2-y: 1002px;
$main-page-info-m-2-offset-x: 0px;
$main-page-info-m-2-offset-y: -1002px;
$main-page-info-m-2-width: 80px;
$main-page-info-m-2-height: 93px;
$main-page-info-m-2-total-width: 1174px;
$main-page-info-m-2-total-height: 1095px;
$main-page-info-m-2-image: '../images/sprite.png?v=1509641140';
$main-page-info-m-2: (0px, 1002px, 0px, -1002px, 80px, 93px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'main_page-info-m-2', );
$main-page-rank-1-name: 'main_page-rank-1';
$main-page-rank-1-x: 252px;
$main-page-rank-1-y: 850px;
$main-page-rank-1-offset-x: -252px;
$main-page-rank-1-offset-y: -850px;
$main-page-rank-1-width: 78px;
$main-page-rank-1-height: 104px;
$main-page-rank-1-total-width: 1174px;
$main-page-rank-1-total-height: 1095px;
$main-page-rank-1-image: '../images/sprite.png?v=1509641140';
$main-page-rank-1: (252px, 850px, -252px, -850px, 78px, 104px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'main_page-rank-1', );
$main-page-rank-2-name: 'main_page-rank-2';
$main-page-rank-2-x: 330px;
$main-page-rank-2-y: 850px;
$main-page-rank-2-offset-x: -330px;
$main-page-rank-2-offset-y: -850px;
$main-page-rank-2-width: 78px;
$main-page-rank-2-height: 101px;
$main-page-rank-2-total-width: 1174px;
$main-page-rank-2-total-height: 1095px;
$main-page-rank-2-image: '../images/sprite.png?v=1509641140';
$main-page-rank-2: (330px, 850px, -330px, -850px, 78px, 101px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'main_page-rank-2', );
$main-page-rank-3-name: 'main_page-rank-3';
$main-page-rank-3-x: 174px;
$main-page-rank-3-y: 850px;
$main-page-rank-3-offset-x: -174px;
$main-page-rank-3-offset-y: -850px;
$main-page-rank-3-width: 78px;
$main-page-rank-3-height: 107px;
$main-page-rank-3-total-width: 1174px;
$main-page-rank-3-total-height: 1095px;
$main-page-rank-3-image: '../images/sprite.png?v=1509641140';
$main-page-rank-3: (174px, 850px, -174px, -850px, 78px, 107px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'main_page-rank-3', );
$main-page-block-1-name: 'main_page_block-1';
$main-page-block-1-x: 876px;
$main-page-block-1-y: 252px;
$main-page-block-1-offset-x: -876px;
$main-page-block-1-offset-y: -252px;
$main-page-block-1-width: 210px;
$main-page-block-1-height: 210px;
$main-page-block-1-total-width: 1174px;
$main-page-block-1-total-height: 1095px;
$main-page-block-1-image: '../images/sprite.png?v=1509641140';
$main-page-block-1: (876px, 252px, -876px, -252px, 210px, 210px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'main_page_block-1', );
$main-page-block-2-name: 'main_page_block-2';
$main-page-block-2-x: 469px;
$main-page-block-2-y: 578px;
$main-page-block-2-offset-x: -469px;
$main-page-block-2-offset-y: -578px;
$main-page-block-2-width: 210px;
$main-page-block-2-height: 210px;
$main-page-block-2-total-width: 1174px;
$main-page-block-2-total-height: 1095px;
$main-page-block-2-image: '../images/sprite.png?v=1509641140';
$main-page-block-2: (469px, 578px, -469px, -578px, 210px, 210px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'main_page_block-2', );
$main-page-block-3-name: 'main_page_block-3';
$main-page-block-3-x: 679px;
$main-page-block-3-y: 578px;
$main-page-block-3-offset-x: -679px;
$main-page-block-3-offset-y: -578px;
$main-page-block-3-width: 210px;
$main-page-block-3-height: 210px;
$main-page-block-3-total-width: 1174px;
$main-page-block-3-total-height: 1095px;
$main-page-block-3-image: '../images/sprite.png?v=1509641140';
$main-page-block-3: (679px, 578px, -679px, -578px, 210px, 210px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'main_page_block-3', );
$mark-name: 'mark';
$mark-x: 80px;
$mark-y: 1002px;
$mark-offset-x: -80px;
$mark-offset-y: -1002px;
$mark-width: 62px;
$mark-height: 83px;
$mark-total-width: 1174px;
$mark-total-height: 1095px;
$mark-image: '../images/sprite.png?v=1509641140';
$mark: (80px, 1002px, -80px, -1002px, 62px, 83px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'mark', );
$pt-name: 'pt';
$pt-x: 1163px;
$pt-y: 179px;
$pt-offset-x: -1163px;
$pt-offset-y: -179px;
$pt-width: 10px;
$pt-height: 10px;
$pt-total-width: 1174px;
$pt-total-height: 1095px;
$pt-image: '../images/sprite.png?v=1509641140';
$pt: (1163px, 179px, -1163px, -179px, 10px, 10px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'pt', );
$ravon-name: 'ravon';
$ravon-x: 876px;
$ravon-y: 462px;
$ravon-offset-x: -876px;
$ravon-offset-y: -462px;
$ravon-width: 188px;
$ravon-height: 55px;
$ravon-total-width: 1174px;
$ravon-total-height: 1095px;
$ravon-image: '../images/sprite.png?v=1509641140';
$ravon: (876px, 462px, -876px, -462px, 188px, 55px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'ravon', );
$renault-name: 'renault';
$renault-x: 619px;
$renault-y: 533px;
$renault-offset-x: -619px;
$renault-offset-y: -533px;
$renault-width: 188px;
$renault-height: 26px;
$renault-total-width: 1174px;
$renault-total-height: 1095px;
$renault-image: '../images/sprite.png?v=1509641140';
$renault: (619px, 533px, -619px, -533px, 188px, 26px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'renault', );
$uaz-name: 'uaz';
$uaz-x: 408px;
$uaz-y: 850px;
$uaz-offset-x: -408px;
$uaz-offset-y: -850px;
$uaz-width: 127px;
$uaz-height: 59px;
$uaz-total-width: 1174px;
$uaz-total-height: 1095px;
$uaz-image: '../images/sprite.png?v=1509641140';
$uaz: (408px, 850px, -408px, -850px, 127px, 59px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'uaz', );
$viber-g-name: 'viber-g';
$viber-g-x: 1129px;
$viber-g-y: 350px;
$viber-g-offset-x: -1129px;
$viber-g-offset-y: -350px;
$viber-g-width: 38px;
$viber-g-height: 39px;
$viber-g-total-width: 1174px;
$viber-g-total-height: 1095px;
$viber-g-image: '../images/sprite.png?v=1509641140';
$viber-g: (1129px, 350px, -1129px, -350px, 38px, 39px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'viber-g', );
$viber-name: 'viber';
$viber-x: 1129px;
$viber-y: 311px;
$viber-offset-x: -1129px;
$viber-offset-y: -311px;
$viber-width: 38px;
$viber-height: 39px;
$viber-total-width: 1174px;
$viber-total-height: 1095px;
$viber-image: '../images/sprite.png?v=1509641140';
$viber: (1129px, 311px, -1129px, -311px, 38px, 39px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'viber', );
$vk-g-name: 'vk-g';
$vk-g-x: 1129px;
$vk-g-y: 272px;
$vk-g-offset-x: -1129px;
$vk-g-offset-y: -272px;
$vk-g-width: 38px;
$vk-g-height: 39px;
$vk-g-total-width: 1174px;
$vk-g-total-height: 1095px;
$vk-g-image: '../images/sprite.png?v=1509641140';
$vk-g: (1129px, 272px, -1129px, -272px, 38px, 39px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'vk-g', );
$vk-lg-name: 'vk-lg';
$vk-lg-x: 1129px;
$vk-lg-y: 506px;
$vk-lg-offset-x: -1129px;
$vk-lg-offset-y: -506px;
$vk-lg-width: 30px;
$vk-lg-height: 18px;
$vk-lg-total-width: 1174px;
$vk-lg-total-height: 1095px;
$vk-lg-image: '../images/sprite.png?v=1509641140';
$vk-lg: (1129px, 506px, -1129px, -506px, 30px, 18px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'vk-lg', );
$vk-lg2-name: 'vk-lg2';
$vk-lg2-x: 1129px;
$vk-lg2-y: 488px;
$vk-lg2-offset-x: -1129px;
$vk-lg2-offset-y: -488px;
$vk-lg2-width: 30px;
$vk-lg2-height: 18px;
$vk-lg2-total-width: 1174px;
$vk-lg2-total-height: 1095px;
$vk-lg2-image: '../images/sprite.png?v=1509641140';
$vk-lg2: (1129px, 488px, -1129px, -488px, 30px, 18px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'vk-lg2', );
$vk-name: 'vk';
$vk-x: 1129px;
$vk-y: 233px;
$vk-offset-x: -1129px;
$vk-offset-y: -233px;
$vk-width: 38px;
$vk-height: 39px;
$vk-total-width: 1174px;
$vk-total-height: 1095px;
$vk-image: '../images/sprite.png?v=1509641140';
$vk: (1129px, 233px, -1129px, -233px, 38px, 39px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'vk', );
$wa-g-name: 'wa-g';
$wa-g-x: 1129px;
$wa-g-y: 194px;
$wa-g-offset-x: -1129px;
$wa-g-offset-y: -194px;
$wa-g-width: 38px;
$wa-g-height: 39px;
$wa-g-total-width: 1174px;
$wa-g-total-height: 1095px;
$wa-g-image: '../images/sprite.png?v=1509641140';
$wa-g: (1129px, 194px, -1129px, -194px, 38px, 39px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'wa-g', );
$wa-name: 'wa';
$wa-x: 1129px;
$wa-y: 389px;
$wa-offset-x: -1129px;
$wa-offset-y: -389px;
$wa-width: 38px;
$wa-height: 39px;
$wa-total-width: 1174px;
$wa-total-height: 1095px;
$wa-image: '../images/sprite.png?v=1509641140';
$wa: (1129px, 389px, -1129px, -389px, 38px, 39px, 1174px, 1095px, '../images/sprite.png?v=1509641140', 'wa', );
$spritesheet-width: 1174px;
$spritesheet-height: 1095px;
$spritesheet-image: '../images/sprite.png?v=1509641140';
$spritesheet-sprites: ($arrow, $bg3, $bg6, $car1, $car2, $dots, $favicon, $fb-lg, $fb-lg2, $fb-sm-g, $fb-sm-p, $ic1, $ic10, $ic11, $ic12, $ic13, $ic14, $ic15, $ic16, $ic17, $ic18, $ic19, $ic2, $ic20, $ic21, $ic22, $ic23, $ic24, $ic25, $ic26, $ic27, $ic28, $ic29, $ic3, $ic30, $ic4, $ic5, $ic6, $ic7, $ic8, $ic9, $inst-lg, $inst-lg2, $kia, $logo, $logo2, $logout, $mail-logo, $main-page-info-m-2, $main-page-rank-1, $main-page-rank-2, $main-page-rank-3, $main-page-block-1, $main-page-block-2, $main-page-block-3, $mark, $pt, $ravon, $renault, $uaz, $viber-g, $viber, $vk-g, $vk-lg, $vk-lg2, $vk, $wa-g, $wa, );
$spritesheet: (1174px, 1095px, '../images/sprite.png?v=1509641140', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
